.game-create-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  height: 100vh; /* Full height of the viewport */
  text-align: center; /* Center text */
}

.json-preview {
  border: 1px solid #ccc; /* Outline for the box */
  border-radius: 4px; /* Rounded corners */
  padding: 10px; /* Padding inside the box */
  overflow-y: auto; /* Scrollable if content exceeds max height */
  margin: 20px 0; /* Margin for spacing */
  width:80vh;
  height:80vh;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-right:2%;
}
